---
import Layout from "../layouts/Layout.astro";
import Experience from "../components/Experience.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Projects from "../components/Projects.astro";
import AboutMe from "../components/AboutMe.astro";
import TitelBar from "../components/TitelBar.astro";
import Navbar from "../components/Navbar.astro";
import Briefcase from "../icons/Briefcase.astro";
import CodeIcon from "../icons/Code.astro";
import UserIcon from "../icons/User.astro";
import Download from "../components/Download.astro";
import Hero from "../components/Hero.astro";
import Services from "../components/Services.astro";


---

<Layout
  title="Portafolio JDMoreu - Desarrollador y Especialista TI."
  description="Contrata a JDMoreu para tus proyectos de desarrollo de software y administración de sistemas. Ingeniero Electrónico y desarrollador de software. Especialista en arquitectura de soluciones de TI."
>
  <main class="grid lg:grid-cols-5 lg:justify-between lg:gap-8 lg:mx-10 lg:px-10 ">

    <div class="lg:fixed z-10 lg:top-0 lg:flex w-full"> 
      <Navbar/>
    </div>

    <div class="grid lg:col-span-1"></div>
    
    <div class="grid lg:col-span-3 lg:gap-y-20 px-10">


      <SectionContainer id="inicio" class="mb-10 py-10 lg:pt-60 lg:my-20">
        <TitelBar>
            <Briefcase class="size-6" fill="#ffffff" />
            <h1 class="text-xl text-nowrap uppercase font-bold">Inicio</h1>
        </TitelBar>
         <Hero />
      </SectionContainer>
      
      <SectionContainer id="experiencia" class="py-20 lg:py-20 lg:my-10">
        <TitelBar>
            <Briefcase class="size-6" fill="#ffffff" />
            <h1 class="text-xl text-nowrap uppercase font-bold">Experiencia Laboral</h1>
        </TitelBar>
         <Experience />
      </SectionContainer>
   
      <SectionContainer id="proyectos" class="py-20 lg:mb-20 ">
        <TitelBar>
          <CodeIcon class="size-6" fill="#ffffff" />
          <h1 class="text-xl text-nowrap uppercase font-bold">Servicios</h1>
        </TitelBar>
        <Services />
      </SectionContainer>

      <SectionContainer id="proyectos" class="py-20 lg:mb-40 ">
        <TitelBar>
          <CodeIcon class="size-6" fill="#ffffff" />
          <h1 class="text-xl text-nowrap uppercase font-bold">Proyectos</h1>
        </TitelBar>
        <Projects />
      </SectionContainer>

      <SectionContainer id="sobre-mi" class="py-20 mb-40">
        <TitelBar>
            <UserIcon class="size-6" fill="#ffffff" />
            <h1 class="text-xl text-nowrap uppercase font-bold">Sobre mi</h1>
        </TitelBar>
        <AboutMe />
      </SectionContainer>


      <footer class="flex flex-col text-center opacity-70 pb-10">
        <p class="text-xs">
          © 2024 JDMoreu. Todos los derechos reservados. Hecho con ❤️ desde Santa Marta, Colombia.
        </p>
      </footer>

    </div>

    <div class="grid col-span-1">

      <SectionContainer class="">
        <Download/>
      </SectionContainer>

    </div>

  </main>

</Layout>

<style></style>
