
---



---

<article class="flex flex-row items-center px-4 text-white/80 font-light text-justify ">


  <div class="[&>p]:mb-4 [&>p>strong]:text-cyan-500 [&>p>strong]:font-normal  ">
    <p>
      Hola, soy <strong class="hover:text-cyan-400">JDMoreu</strong>, Ingeniero Electrónico y desarrollador de software apasionado en desafiar constantemente mis propios límites y mejorar mis habilidades. Incursionando en la domótica y Arduino a los 16 años, he estado en un viaje continuo de crecimiento y desarrollo. Ahora, como gerente fundador de  <strong class="hover:text-cyan-400">MTechSolutions S.A.S </strong>, me especializo en el desarrollo de soluciones de Tecnologías de la Información.
    </p>

    <p>
      Algunos de mis éxitos incluyen 
        la realización de plataformas de monitoreo</strong> para cultivos de mango y acuicultura con la implemetación de tecnologías 4.0 como <strong class="hover:text-cyan-400">Internet de las Cosas</strong>, <strong class="hover:text-cyan-400">Inteligencia Artificial</strong> y <strong class="hover:text-cyan-400"> Computacion en la nube</strong>, siendo pioneros en la implentación de estas tecnologías en la rigión del Cesar, Colombia en colaboracion de <strong class="hover:text-cyan-400">Ecomonte Colombia S.A.S.</strong>
        
    </p>


</article>
