
---



---

<article class="flex flex-row items-center px-5 dark:text-white/80 font-light">


  <div class="[&>p]:mb-4 [&>p>strong]:text-blue-500 [&>p>strong]:font-normal  ">
    <p>
      Hola, soy <strong class="hover:text-blue-400">JDMoreu</strong>, Ingeniero Electrónico y desarrollador de software, me esfuerzo constantemente por desafiar mis propios límites y mejorar mis habilidades. Incursionando en la domótica y Arduino a los 16 años, he estado en un viaje continuo de crecimiento y desarrollo. Ahora, como gerente fundador de  <strong class="hover:text-blue-400">MTechSolutions S.A.S</strong>, me especializo en el desarrollo de soluciones de Tecnologías de la Información.
    </p>

    <p>
      Algunos de mis éxitos incluyen 
        la realización de plataformas de monitoreo</strong> para cultivos de mango y acuicultura con la implemetación de tecnologías 4.0 como <strong class="hover:text-blue-400">Internet de las Cosas</strong>, <strong class="hover:text-blue-400">Inteligencia Artificial</strong> y <strong class="hover:text-blue-400"> Computacion en la nube</strong>, siendo pioneros en la implementación de estas tecnologías en la región del Cesar, Colombia en colaboracion de <strong class="hover:text-blue-400">Ecomonte Colombia S.A.S.</strong>
        
    </p>


</article>
