---
import DownloadIcon from "../icons/Download.astro"
---


<div class=" grid">


	<div class="flex fixed bottom-10 right-8 lg:right-20 z-30 items-center gap-6">

		<a href="https://drive.google.com/file/d/1NJxKkAkM3qdbf-M41WT4aZ02V5fh2rWX/view?usp=sharing" target="_blank" rel="noopener noreferrer" class="flex text-xs lg:text-base items-center mt-10 border border-blue-600 hover:border-blue-400 gap-2 w-26 h-10 rounded-2xl px-4 py-2 bg-gray-800">
		  <DownloadIcon class="size-6" fill="#ffffff"/>
		  <span>Descargar CV</span>
		</a>
	</div>

</div>

