---
import ExperienceItem from "./ExperienceItem.astro";

const TAGS = {
	IoT: {
		name: "IoT",
	},
	Nodejs: {
		name: "Node.js",
	},
	SQL: {
		name: "SQL",
	},
	JavaScript: {
		name: "JavaScript",
	},
	Thingsboard: {
		name: "Thingsboard",
	},
	Docker: {
		name: "Docker",
	},
	Ubuntu: {
		name: "Ubuntu",
	},
	VPS: {
		name: "VPS",
	},
	Python: {
		name: "Python",
	},
	Crontab: {
		name: "Crontab",
	},
	API: {
		name: "API",
	},
	Bash: {
		name: "Bash",
	},
	SSH: {
		name: "SSH",
	},
	PostgreSQL: {
		name: "PostgreSQL",
	},
	IA: {
		name: "IA",
	},
	Administración: {
		name: "Administración",
	},
	Software: {
		name: "Software",
	},
	Asesoría: {
		name: "Asesoría",
	},
	Tecnología: {
		name: "Tecnología",
	},
	Soporte: {
		name: "Soporte",
	},
	Divulgación: {
		name: "Divulgación",
	},
	Requerimientos: {
		name: "Requerimientos",
	},
	Supervisión: {
		name: "Supervisión",
	},

}


const EXPERIENCIA = [
	{
		date: 'ABR 2024 - ACTUALMENTE',
		title: 'Gerente General.',
		company: 'Mtechsolutions S.A.S',
		description: 'Administrador de recursos de la empresa, desarrollo de software, asesoría en desarrollo tecnológico, validación de resultados. Asistencia técnica presencial y remota, participación en la divulgación de productos, y atención oportuna a requerimientos de interventoría y supervisión.',
		tags:[TAGS.Administración, TAGS.Software, TAGS.Asesoría, TAGS.Tecnología, TAGS.Soporte, TAGS.Divulgación, TAGS.Supervisión]
	},
	{
		date: 'MAY 2024 - JUN 2024',
		title: 'Administrador de Sistemas.',
		company: 'Mtechsolutions S.A.S',
		description: 'Migración de más 11 servicios de software y bases de datos, incluyendo backup, despliegue, configuración, gestión de direccionamiento, y puesta en marcha de los todos servicios implementados en la VPS inicial.',
		tags:[TAGS.SSH, TAGS.Ubuntu, TAGS.Docker, TAGS.Bash, TAGS.Crontab, TAGS.Nodejs, TAGS.JavaScript, TAGS.Python, TAGS.PostgreSQL, TAGS.API, TAGS.VPS]
	},
	{
		date: 'ABR 2024 - ACTUALMENTE',
		title: 'Investigador auxiliar en desarrollo de hardware y software.',
		company: 'Ecomonte Colombia S.A.S',
		description: 'Desarrollo de más cinco componentes de software a medida, tanto en frontend, backend y aplicaciones. Administro infraestructuras de TI, incluyendo máquinas virtuales, contenedores, ciberseguridad, hosting y dominios, además de proporcionar más de 60 horas soporte técnico y automatización de tareas. Analizo y proceso datos de más 20 dispositivos IoT y APIs para mejorar la eficiencia operativa y la toma de decisiones empresariales.',
		tags: [TAGS.Thingsboard, TAGS.IoT, TAGS.Nodejs, TAGS.SQL, TAGS.JavaScript, TAGS.Docker, TAGS.VPS, TAGS.Python, TAGS.Crontab, TAGS.API, TAGS.Bash]
	},
	{
		date: 'JUL 2023 - ENE 2024',
		title: 'Investigador auxiliar en desarrollo de software.',
		company: 'Ecomonte Colombia S.A.S',
		description: 'Desarrollo de más nueve componentes de software y una aplicación móvil para procesos de piscicultura. Validé resultados de la solución tecnológica utilizando datos de prueba y sugiriendo correcciones. Brindé más de 20 horas de soporte técnico presencial y remoto para los componentes desarrollados. Atendí requerimientos de interventoría relacionados con los entregables asignados.',
		tags: [TAGS.Thingsboard, TAGS.IoT, TAGS.Nodejs, TAGS.SQL, TAGS.JavaScript, TAGS.Docker, TAGS.VPS, TAGS.Python, TAGS.Crontab, TAGS.API, TAGS.Bash]
	},
	{	date: 'DIC 2022 - MAY 2023',
		title: 'Auxiliar de Investigación.',
		company: 'Universidad Cooperativa de Colombia - Santa Marta',
		description: 'Diseñé e implementé una plataforma IoT para monitoreo agrícola en Chimichagua, Cesar. Integré tecnologías innovadoras garantizando interoperabilidad de sistemas.Redacté artículo técnico documentando la implementación y soluciones empleadas.',
		tags: [TAGS.Thingsboard, TAGS.IoT, TAGS.Docker, TAGS.VPS, TAGS.Nodejs, TAGS.Python, TAGS.IA, TAGS.Crontab, TAGS.API]
	},
];
---

<ol class="relative">
	{
	  EXPERIENCIA.map((experiencie) => (
		<li class="my-8">
		  <ExperienceItem {...experiencie} />
		</li>
	  ))
	}
</ol>

