---
import ModalContact from "./ModalContact.astro";
---

<div class="p-10 mt-20 lg:mt-0 overflow-hidden ">

	<div class="grid lg:grid-cols-3 gap-10">

		<div class="grid col-span-2 order-2 lg:order-1">

				<h2 class="text-3xl font-bold pb-3  text-white sm:text-3xl lg:text-5xl">Hey 游녦 soy
					<span class="bg-gradient-to-r from-blue-600 to-blue-500 bg-clip-text text-transparent">Jose Moreu</span>
				</h2>

				
				<p class="text-sm text-gray-400 pb-4">Ingeniero Electr칩nico / Desarrollador de Software</p>
				<p class="lg:text-xl text-gray-300 pb-8 pr-10">
					Especialista en Internet of Things con m치s de dos a침os de experiencia en implementaciones, automatizaciones e integraciones. Amplio conocimiento en  tecnolog칤as de la informaci칩n, desarrollo de software, hardware y computaci칩n en la nube.
					
				</p>
				<div class="flex gap-6 items-center mb-6">
					<ModalContact />
					<a class="text-blue-400 text-sm font-medium hover:text-blue-200" href="#experiencia">Saber m치s</a>
				</div>

		</div>
		
		<div class="grid order-1 lg:order-2">
			<img class="" src="/projects/join.svg" alt="">
		</div>

	</div>
</div>