---


---

<div class="">
  <div class="fixed bottom-6 right-12">
    <a
      href="https://www.linkedin.com/in/jdmoreu/"
      target="blank"
      rel="noopener"
      class="flex items-center transition md:justify-center md:hover:scale-105 pb-4"
    >
    </a>
  </div>

  <div class="flex item-center">
    <div class="w-full">
      <h1 class="text-blue-600 dark:text-white text-3xl lg:text-2xl text-wrap font-bold flex flex-row pb-2 mb-2 pt-4">
        JOSE D. MOREU
      </h1>

      <h2 class=" lg:text-xl text-wrap dark:opacity-90 max-w-full pb-4 mb-4">
        Ingeniero Electrónico
      <h2/>

      <h2 class="text-pretty text-sm dark:text-gray-200/70 font-light pr-[20%] lg:pr-[30%]">
          Profesional en el campo de las Tecnología de la Información y el Internet de las Cosas.
    </div>
  </div>

</div>
