---
import ModalPlan from "./ModalPlan.astro"

---

<div class="grid p-10 rounded-2xl">

	<div class="grid justify-center">

		<h1 class="text-2xl lg:text-5xl text-center font-bold">
			¿ Como puedo  <span class="bg-gradient-to-r from-blue-600 to-blue-500 bg-clip-text text-transparent">ayudarte</span> ?
		</h1>
		<p class="text-xs lg:text-base pt-4 lg:px-40 text-center text-gray-400">Servicio profesional especializado en desarrollo de Software, Hardware y Tecnologías de la información.</p>

	</div>

	<div class="grid lg:mt-20 lg:grid-cols-5">

		<div class="grid lg:col-span-2 justify-center gap-y-8 py-10">

			<div class="flex gap-4" >

				
				<div class="flex">
					<span class="flex h-10 w-10 text-gray-300 bg-blue-600 justify-center items-center px-2 py-2 rounded-full">
						<svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-code"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M7 8l-4 4l4 4" /><path d="M17 8l4 4l-4 4" /><path d="M14 4l-4 16" /></svg>
					</span>
				</div>
				<div>
					<h1 class="text-sm font-semibold">Desarrollo de Software</h1>
					<p class="text-sm text-gray-400">Full Stack</p>
				</div>
	
			</div>

			<div class="flex gap-4" >
				
				<div class="flex">
					<span class="flex h-10 w-10 text-gray-300 bg-blue-600 justify-center items-center px-2 py-2 rounded-full">
						<svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-cpu"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 5m0 1a1 1 0 0 1 1 -1h12a1 1 0 0 1 1 1v12a1 1 0 0 1 -1 1h-12a1 1 0 0 1 -1 -1z" /><path d="M9 9h6v6h-6z" /><path d="M3 10h2" /><path d="M3 14h2" /><path d="M10 3v2" /><path d="M14 3v2" /><path d="M21 10h-2" /><path d="M21 14h-2" /><path d="M14 21v-2" /><path d="M10 21v-2" /></svg>
					</span>
				</div>
				<div>
					<h1 class="font-semibold">Desarrollo de Hardware</h1>
					<p class="text-sm text-gray-400">IoT - Automatización</p>
				</div>
			</div>

			<div class="flex gap-4" >
				
				<div class="flex">
					<span class="flex h-10 w-10 text-gray-300 bg-blue-600 justify-center items-center px-2 py-2 rounded-full">
						<svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-terminal-2"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M8 9l3 3l-3 3" /><path d="M13 15l3 0" /><path d="M3 4m0 2a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2z" /></svg>
					</span>
				</div>
				<div>
					<h1 class="font-semibold">Admin. de Sistemas</h1>
					<p class="text-sm text-gray-400">Cloud computer</p>
				</div>
			</div>

		</div>

		<div class="grid lg:col-span-3 rounded-2xl p-6 lg:p-10 bg-gray-800">

			<h1 class="text-2xl lg:text-5xl font-semibold">
				Conocer planes disponibles!
			</h1>
			<p class="text-sm text-gray-400 pt-6">Los planes pueden estar sujetos a cargos adicionales en caso de requerirse servicio presencial.</p>

			<div class="lg:flex justify-between items-center pt-10 lg:pr-4">
				<div>
					<p class="lg:text-2xl font-medium">Desde $34.999 <span class="text-sm">COP</span></p>
					<p class="text-sm text-gray-400">Precio base por hora</p>
				</div>
				<div class="flex pt-4 lg:pt-0">
					<ModalPlan />
				</div>
			</div>

		</div>

	</div>

</div>