---


---


<div class="flex flex-row gap-20 ml-8">
	<div class="block">
		<h2>Lenguajes</h2>

	</div>
	<div class="block">
		<h2>Librerias</h2>
	</div>

	<div class="block">
		<h2>Tecnologias</h2>
		
	</div>
</div>