---
// Supports weights 100-900
import '@fontsource-variable/onest';
import { ViewTransitions } from "astro:transitions"

interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html class="dark" lang="es">
	<head>
		<script src="../../node_modules/flowbite/dist/flowbite.min.js"></script>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<ViewTransitions />
	</head>
	<body class="text-white bg-gray-900">
		<slot />
	</body>
</html>

<style is:global>
	:root {
		color-scheme: dark light;
	}
	html {
		font-family: 'Onest Variable', system-ui, sans-serif;
		scroll-behavior: smooth;
	}

	body {
		display: flex;
		flex-direction: column;
		min-height: 100vh;
	}
	@media (prefers-reduced-motion: reduce) {
		html {
			scroll-behavior: auto;
		}
	}

</style>
